<div class="container">
  <h4 class="margin-10">Assessments Overview</h4>
  <div class="assessment-tab">
    <div class="tab-item padding-15 width-15">
      <h5>Total Assessment</h5>
      <div class="item">
        <mat-icon class="tab-icon" svgIcon="rectangle_icon"></mat-icon>
        <h2>34</h2>
      </div>
    </div>
    <div class="tab-item padding-15 width-30">
      <h5>Candidates</h5>
      <div class="item">
        <mat-icon class="tab-icon" svgIcon="profile_icon"></mat-icon>
        <div>
          <div class="display-flex">
            <h2>11145</h2>
            <div class="addition">+89</div>
          </div>
          <div class="tag">Total Candidate</div>
        </div>
        <div>
          <div class="display-flex">
            <h2>115</h2>
            <div class="addition">+89</div>
          </div>
          <div class="tag">Who Attempted</div>
        </div>
      </div>
    </div>
    <div class="tab-item padding-15 width-40">
      <h5>Candidates Source</h5>
      <div class="item">
        <mat-icon class="tab-icon" svgIcon="browser_icon"></mat-icon>
        <div>
          <div class="display-flex">
            <h2>11000</h2>
            <div class="addition">+89</div>
          </div>
          <div class="tag">E-mail</div>
        </div>
        <div>
          <div class="display-flex">
            <h2>145</h2>
            <div class="addition">+89</div>
          </div>
          <div class="tag">Social Share</div>
        </div>
        <div>
          <div class="display-flex">
            <h2>145</h2>
            <div class="addition">+89</div>
          </div>
          <div class="tag">Unique Link</div>
        </div>
      </div>
    </div>
    <div class="padding-15 width-15">
      <h5>Total Purpose</h5>
      <div class="item">
        <mat-icon class="tab-icon" svgIcon="link_icon"></mat-icon>
        <h2>11</h2>
      </div>
    </div>
  </div>

  <h4 class="margin-10">My Assessment</h4>
  <div class="card-container">
    <div class="card new-card">
      <mat-icon class="mat-icon" svgIcon="add_new_icon" (click)="openNewAssessment()"></mat-icon>
      <h4 class="margin-10">New Assessment</h4>
      <h6>From here you can add questions of multiple types like MCQs, subjective (text or paragraph)!</h6>
    </div>
    <div class="card">
      <div class="divider">
        <div class="space-between">
          <mat-icon class="suitcase-icon" svgIcon="suitcase_icon"></mat-icon>
          <mat-icon class="menu-icon" svgIcon="menu_icon"></mat-icon>
        </div>
        <h4>Math Assessment</h4>
        <div class="display-flex">
          <h5>Job</h5>
          <div class="vertical-divider">|</div>
          <mat-icon class="calender-icon" svgIcon="calender_icon"></mat-icon>
          <div class="date">23 April 2023</div>
        </div>
      </div>
      <div class="space-between">
        <div class="display-flex">
          <div class="margin-5">
            <h5>00</h5>
            <h5>Duration</h5>
          </div>
          <div class="margin-5">
            <h5>00</h5>
            <h5>Questions</h5>
          </div>
        </div>
        <div class="display-flex">
          <mat-icon class="share-icon" svgIcon="share_icon"></mat-icon>
          <mat-icon class="single-user-icon" svgIcon="single_user_icon"></mat-icon>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="divider">
        <div class="space-between">
          <mat-icon class="suitcase-icon" svgIcon="suitcase_icon"></mat-icon>
          <mat-icon class="menu-icon" svgIcon="menu_icon"></mat-icon>
        </div>
        <h4>Math Assessment</h4>
        <div class="display-flex">
          <h5>Job</h5>
          <div class="vertical-divider">|</div>
          <mat-icon class="calender-icon" svgIcon="calender_icon"></mat-icon>
          <div class="date">23 April 2023</div>
        </div>
      </div>
      <div class="space-between">
        <div class="display-flex">
          <div class="margin-5">
            <h5>00</h5>
            <h5>Duration</h5>
          </div>
          <div class="margin-5">
            <h5>00</h5>
            <h5>Questions</h5>
          </div>
        </div>
        <div class="display-flex">
          <mat-icon class="share-icon" svgIcon="share_icon"></mat-icon>
          <mat-icon svgIcon="number_user_icon"></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
