<div class="container">
  <div class="item">
    <mat-icon svgIcon="dashboard_icon"></mat-icon>
    <h5>Dashboard</h5>
  </div>
  <div class="item active">
    <mat-icon svgIcon="edit_icon"></mat-icon>
    <h5>Assessment</h5>
  </div>
  <div class="item dashed-border">
    <mat-icon svgIcon="info_icon"></mat-icon>
    <h5>My Library</h5>
  </div>

  <div class="admin">Admin</div>

  <div class="item">
    <mat-icon svgIcon="clipboard_link_icon"></mat-icon>
    <h5>Round Status</h5>
  </div>
</div>
